@media (max-width: 800px) {
    .hamburger {
        position:absolute;
        top: 50px;
        left: 20px;
    
    }
    .bar {
        background-color: #000000;
        width: 50px;
        height: 5px;
        margin-top:5px;
        
    }
}