
.support-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primarycolor);
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(66, 111, 159), rgb(78, 172, 223));
}
.support-section p {
    font-size: 18px;
    color: var(--primarycolor);
    margin-bottom: var(--spacing-medium);
}
.support-section h1 {
    font-size: var(--h1-font-size);
    color: var(--primarycolor);
    margin-bottom: var(--spacing-medium);
}
.support-section a {
    font-size: 18px;
    color: #fca00d;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}
.support-section a:hover {
    transform: scale(1.3);
    color:rgb(252, 34, 150);
}
.support-section li {
    list-style: none;
    margin: 10px 0;
    text-align: left;
    color: var(--primarycolor);
}   
.support-section img {
    max-width: 500px;
    height: auto;
    border-radius: var(--border-radius-medium);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 var(--spacing-medium);
}