:root{
--primarycolor: #ffffff;
--secondarycolor: #000000;
--tertiarycolor: #3498db;
--backgroundcolor: #0178E0;
--fontfamilyheadline: 'Orbitron', sans-serif;
--fontfamilybody: 'Oxygen', sans-serif;
--cardhoover: #62a9e7;
--greenbox: #4C7F71;
--bluebox: #006C8A;
--freshlinks: #F908BD;
--p-font-size: 16px;
--headline-font-size: 32px;
--subheadline-font-size: 24px;
--button-font-size: 19px;

/*spacing sheet*/
--spacing-xxsmall: 4px; /*I will die for you*/
--spacing-xsmall: 8px;  
--spacing-small: 16px;   
--spacing-medium: 24px;
--spacing-large: 32px; 
--spacing-xlarge: 48px;
--spacing-xxlarge: 64px; 
--spacing-xxxlarge: 80px; 
--spacing-xxxxlarge: 120px; 

/*H1*/
--h1-font-size: 32px;
--h1-font-weight: 700;

/*border radius*/
--border-radius: 5px;
--border-radius-small: 3px;
--border-radius-medium: 8px;
--border-radius-large: 10px;


.orbitron-font {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
}